.brands-slider__list {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 70px;
    font-size: 0;
}

.brands-slider__list-item {
    display: inline-block;
    width: 20%;
    height: 100%;
}

.brands-slider__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

