.integrations-section {
    margin-top: 201px;
}

.integrations-section__container {
    text-align: center;
}

.integration-section__subtitle {
    margin-top: 31px;
}

.integration-section__partners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 58px;
    box-sizing: border-box;
}

.integration-section__partner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19%;
    height: 106px;
    background: #FFFFFF;
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.07);
    border-radius: 13px;
}

.integrations-section__more-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    margin-top: 49px;
}

@media screen and (max-width: 1168px) {
    .integrations-section {
        margin-top: 160px;
    }

    .integration-section__subtitle {
        font-size: 19px;
        margin-top: 25px;
    }

    .integration-section__partner-logo {
        width: 85%;
    }

    .integration-section__partners {
        margin-top: 37px;
    }

    .integrations-section__more-link {
        font-size: 11px;
        margin-top: 27px;
    }
}

@media screen and (max-width: 1040px) {
    .integrations-section {
        margin-top: 130px;
        text-align: left;
    }

    .integrations-section__container {
        text-align: left;
    }

    .integration-section__subtitle {
        font-size: 24px;
    }

    .integrations-section__more-link {
        font-size: 17px;
        margin-top: 53px;
    }
}

@media screen and (max-width: 784px) {
    .integrations-section {
        margin-top: 100px;
    }

    .integration-section__subtitle {
        font-size: 18px;
        margin-top: 19px;
    }

    .integration-section__partners {
        margin-top: 21px;
    }

    .integrations-section__more-link {
        font-size: 13px;
        margin-top: 19px;
    }
}

@media screen and (max-width: 400px) {
    .integrations-section {
        margin-top: 110px;
    }

    .integrations-section__container {
        text-align: center;
    }

    .integration-section__subtitle {
        font-size: 20px;
        margin-top: 17px;
    }

    .integration-section__partner {
        width: 50%;
    }

    .integration-section__partners {
        margin-top: 50px;
    }

    .integration-section__partner {
        width: 48%;
        height: 84px;
    }

    .integrations-section__more-link {
        margin-top: 29px;
    }
}