.demo-buttons {
    display: flex;
    gap: 11px;
}

.demo-button {
    padding: 12px 0;
    width: 122px;
    height: 44px;
}

.demo-button_dark {
    background: var(--main-color);
    color: #fff;
}