:root {
    --main-color: #013A52;
}

@font-face {
    font-family: 'Eina-Regular';
    src:  url('../fonts/Eina01-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Eina-SemiBold';
    src:  url('../fonts/Eina01-SemiBold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Eina-Regular", sans-serif;
    color: var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
}

.button {
    display: inline-block;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.section-title {
    font-family: "Eina-SemiBold", sans-serif;
    font-size: 36px;
    text-align: center;
}

.section-subtitle {
    text-align: center;
    font-size: 24px;
    word-spacing: 0.03em;
    letter-spacing: 0.01em;
    line-height: 1.8;
}

/* temporary */
body {
    padding-bottom: 400px;
}