.widgets-section {
    margin-top: 305px;
}

.widgets-section__subtitle {
    margin: 30px auto 0;
    max-width: 80%;
}

.widgets-section__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 52px;
}

.widgets-section__card {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 39px 30px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.widgets-section__card-title::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

.widgets-section__card-title_reward::before {
    background-image: url("../images/rewardCardLogo.png");
}

.widgets-section__card-title_reviews::before {
    background-image: url("../images/reviewsCardLogo.png");
}

.widgets-section__card-title_wishlist::before {
    background-image: url("../images/wishlistCardLogo.png");
}

.widgets-section__card-title_instagram::before {
    background-image: url("../images/instagramCardLogo.png");
}

.widgets-section__card-title_socialLogin::before {
    background-image: url("../images/socialLoginCardLogo.png");
}

.widgets-section__card-features-list-item {
    display: block;
}

.widgets-section__card-title {
    font-family: "Eina-SemiBold", sans-serif;
    font-size: 20px;
}

.widgets-section__card-text {
    margin-top: 17px;
    font-size: 13px;
    line-height: 1.5;
    flex-grow: 1;
}

.widgets-section__card-features {
    margin-top: 30px;
}

.widgets-section__card-features-title {
    font-size: 15px;
    margin: 20px 0;
}

.widgets-section__card-features-list {
    margin: 22px 0;
}

.widgets-section__card-features-list-item {
    font-size: 12px;
    padding: 5px 0;
}

.widgets-section__card-features-list-item::before {
    content: "";
    background: url("../images/checkMark.png") no-repeat center center;
    display: inline-block;
    width: 12px;
    height: 9px;
    vertical-align: middle;
    padding: 0 4px;
}

.widgets-section__card-link {
    padding: 8px 0;
    border-radius: 2px;
}

.widgets-section__card-link:hover {
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1168px) {
    .widgets-section {
        margin-top: 170px;
    }

    .widgets-section__title {
        font-size: 34px;
    }

    .widgets-section__cards {
        gap: 25px;
        margin-top: 55px;
    }

    .widgets-section__card {
        padding: 29px 27px;
        width: 29%;
    }

    .widgets-section__card-title {
        font-size: 16px;
    }

    .widgets-section__card-text {
        font-size: 10px;
    }

    .widgets-section__card-title::before {
        background-size: 24px;
        width: 26px;
        height: 26px;
    }

    .widgets-section__card-features-title {
        font-size: 12px;
        margin: 10px 0;
    }

    .widgets-section__card-features-list {
        margin: 17px 0 16px;
    }

    .widgets-section__card-features-list-item {
        font-size: 10px;
        padding: 4px 0;
    }

    .widgets-section__card-link {
        padding: 7px 0;
        font-size: 10px;
    }
}

@media screen and (max-width: 1040px) {
    .widgets-section {
        margin-top: 304px;
    }

    .widgets-section__container {
        align-items: flex-start;
    }

    .widgets-section__title {
        font-size: 38px;
    }

    .widgets-section__subtitle {
        margin: 23px 0 0;
    }

    .widgets-section__cards {
        gap: 15px;
    }

    .widgets-section__card {
        width: 32%;
        padding: 36px 25px;
    }

    .widgets-section__card-title {
        font-size: 20px;
    }

    .widgets-section__card-title::before {
        background-size: unset;
        width: 38px;
        height: 40px;
    }

    .widgets-section__card-text {
        font-size: 15px;
        margin-top: 22px;
    }

    .widgets-section__card-features {
        margin-top: 25px;
    }

    .widgets-section__card-features-title {
        font-size: 17px;
        margin: 0;
    }

    .widgets-section__card-features-list-item {
        font-size: 14px;
    }

    .widgets-section__card-features-list-item {
        padding: 8px 0;
    }

    .widgets-section__card-link {
        font-size: 17px;
        padding: 10px 0;
        margin-top: 7px;
    }
}

@media screen and (max-width: 784px) {
    .widgets-section {
        margin-top: 168px;
    }

    .widgets-section__title {
        font-size: 28px;
    }

    .widgets-section__subtitle {
        margin: 16px 0 0;
    }

    .widgets-section__cards {
        gap: unset;
        margin-top: 38px;
    }

    .widgets-section__card {
        width: 33%;
    }

    .widgets-section__card-title {
        font-size: 15px;
    }

    .widgets-section__card-title::before {
        background-size: 24px;
        width: 26px;
        height: 26px;
    }

    .widgets-section__card-text {
        font-size: 11px;
    }

    .widgets-section__card-features {
        margin-top: 24px;
    }

    .widgets-section__card-features-title {
        font-size: 13px;
    }

    .widgets-section__card-features-list {
        margin: 11px 0 16px;
    }

    .widgets-section__card-features-list-item {
        font-size: 11px;
        padding: 6px 0;
    }

    .widgets-section__card-link {
        font-size: 13px;
        padding: 7px 0;
        margin-top: 4px;
    }
}

@media screen and (max-width: 400px) {
    .widgets-section {
        margin-top: 179px;
    }

    .widgets-section__title {
        font-size: 32px;
        line-height: 1.3;
    }

    .widgets-section__cards {
        margin-top: 20px;
    }

    .widgets-section__card {
        width: 100%;
    }

    .widgets-section__card-title {
        font-size: 20px;
    }

    .widgets-section__card-title::before {
        background-size: unset;
        width: 38px;
        height: 40px;
    }

    .widgets-section__card-text {
        font-size: 14px;
        margin-top: 17px;
    }

    .widgets-section__card-features-title {
        font-size: 18px;
        margin-top: 20px;
    }

    .widgets-section__card-features-list {
        margin: 17px 0 16px;
    }

    .widgets-section__card-features-list-item {
        font-size: 14px;
    }

    .widgets-section__card-link {
        font-size: 18px;
        padding: 9px 0 13px;
        margin-top: 4px;
        background-color: var(--main-color);
        color: #fff;
    }
}